<div class="content">
    <button (click)="cart()">Open Cart</button>
    <button (click)="Logout()">Logout</button>
    <div *ngIf="(showmode==='cart')" >
        <div *ngIf="object">
            <div *ngFor="let cart of object">
                <p>{{cart.name}}</p>
                <p>{{cart.description}}</p>
                <p>Price : &nbsp;{{cart.price}}</p>

            </div>


    </div>


</div>
<div *ngIf="(showmode=='show')">
<div class="container" *ngIf="Products" class="row">
    <div *ngFor="let Product of Products" class="col-md-3 col-sm-4">
       <div class="card" >
        <img mat-card-image><img src="{{Product.image[0].img}}" width="150px" height="100px">
           <div class="card-body" >
            <h1 class="card-title">{{Product.name}}</h1>
            <p>{{Product.description}}</p>
            <div class="badge badge-primary"><p>Price : &nbsp;{{Product.price}}</p></div><br>
            <button (click)="addtocart(Product)">Add to Cart</button>
           </div>
     
    </div>
</div>
 

    </div>
</div>