 
 
 .cust-container{
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
    width: 100%;
    height: 100vh;
}

.card-container{
    margin-top: 50px;
}


mat-card .form-group{
    display:grid;
    text-align: center;
    justify-content: center;

    padding-bottom: 10px;  

}


.cust-container  {
   justify-content: center;
   text-align: center;
   float: center;
}



.cust-container mat-card{
    background-color: mediumseagreen;
    background-image: linear-gradient(rgb(129, 65, 23),rgb(192, 123, 150));
    font-size: 1.2em;
    margin-top: 5vh;
    margin-left: 5vw;


}

mat-card .form-group input{
    background-color: white;
    height: 5vh;
    width: 25vw;
    margin-left: 15px;
}


.flash-messages{
    background-color: rgb(82, 223, 82);
    color:black;
    font-size: 1.3em;
    font-style: bold;
    float:center;
    margin-bottom: -25px;
    text-align: center;
} 

button{
    background-color: rgb(82, 223, 82);
    border-radius: 10px;
    border:1px solid blue;
    font-weight: bold;
    font-size: 0.75em;
    color:blue;
}


input.ng-invalid.ng-touched{
border:2px solid red;
}

.login-container{
    margin-top: 10%;
    margin-bottom: 35%;
}



@media screen and (min-width: 480px){
    .cust-container{
        height: 100%;
    }
}


@media screen and (min-width: 600px){
    .cust-container{
        height: 100%;
    }
}


#password{
    margin-left: 10px;
}


























