<div class="flash-messages">
    <flash-messages></flash-messages>
</div>
<div class="cust-container">


    <div class="card-container" *ngIf="(showmode=='register')" fxFlex="80">
        <mat-card>
            <mat-card-title>

                <h5>SignUp</h5>
            </mat-card-title>
            <mat-card-content>

                <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Enter your Name</label>
                        <input type="text" formControlName='Username' required class="form-control">
                        <!-- <span>
                            <div *ngIf="SignUpForm.controls.Username.errors" class="text">
                                <p>Username is required</p>
                            </div>
                        </span> -->
                    </div>
                    <div class="form-group">
                        <label>Enter your Age</label>
                        <input matInput type="number" formControlName="Age" required class="form-control">
                        <!-- <span>
                            <div *ngIf="SignUpForm.controls.Age.errors" class="text" style="display: none;">
                                <p>Age is required</p>
                            </div>
                        </span> -->
                    </div>
                    <div class="form-group">
                        <label>Enter your City</label>
                        <input matInput type="text" formControlName="City" required class="form-control">

                    </div>
                    <div class="form-group">
                        <label>Enter your State</label>
                        <input matInput type="text" formControlName="State" required class="form-control">

                    </div>
                    <div class="form-group">
                        <label>Enter your Email</label>
                        <input matInput type="Email" formControlName="Email" required class="form-control">
                        <span>
                            <div *ngIf="SignUpForm.controls.Email.errors" class="text" style="display: none;">
                                <p>Email is invalid</p>
                            </div>
                        </span>

                    </div>
                    <div class="form-group">
                        <label id="password">Enter your Password</label>
                        <input matInput type="text" formControlName="password" required class="form-control">
                        <span>
                            <div *ngIf="SignUpForm.controls.Email.errors" class="text" style="display: none;">
                                <p>Email is invalid</p>
                            </div>
                        </span>
                    </div>


                    <button type="submit" [disabled]='!SignUpForm.valid'>SignUp</button>

                    <h4>Already have an account!<button (click)="login()"> SignIn</button></h4>



                </form>
                <!-- <div *ngIf="user">

  
    <button type="button" *ngFor="let user of user" (click)="token(user.Admin)"><div >Token</div></button>

</div> -->
            </mat-card-content>
        </mat-card>
    </div>


    <div class="login-container" *ngIf="(showmode=='unregister')" fxFlex="80">
        <mat-card>
            <mat-card-title>
                <h5>Login</h5>
            </mat-card-title>
            <mat-card-content>

                <form [formGroup]="LoginForm">

                    <div class="form-group">
                        <label>Enter your Email</label>
                        <input matInput type="Email" formControlName="Email" required class="form-control">

                    </div>
                    <div class="form-group">
                        <label>Enter your Password</label>
                        <input matInput type="text" formControlName="password" required class="form-control">

                    </div>




                    <button type="button" (click)="Add()" [disabled]='!LoginForm.valid'>Login</button>


                    <h4>Dont have an account!<button (click)="SignUp()"> Register</button></h4>



                </form>

            </mat-card-content>
        </mat-card>
    </div>


</div>