<div class="cart-details">
    <div *ngIf="(setstatus=='false')" class="empty-cart">
        <img src="../../assets/images/emptycart.png">
        <p>Cart is Empty.</p>
        <p>Seems like you havent added any product to the cart!!</p>
        <p>Shop right away.To pick amazing deals &nbsp;&nbsp; <a href="">Shop</a></p>
    </div>
    <div *ngIf="(showmode=='showcart')">
        <div *ngIf="(setstatus=='true')" class="row">
            <div class="heading">
                <p>Product added to your cart is displayed below.</p>

            </div>
            <div *ngFor="let eachproduct of cart" class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                <div class="card ">

                    <p>{{eachproduct.name}}</p>

                    <p id="price-tag">{{eachproduct.price}}/-</p>


                    <button (click)="deletefromcart(eachproduct._id)">Delete from cart</button>
                </div>
            </div>
            <button id="order-processing" (click)="proceedordering()">View the Order Summary </button>

        </div>

    </div>

    <div *ngIf="(showmode=='orderbill')">
        <div class="middle" *ngIf="message">
            <p>{{message}}</p>
        </div>
        <div class="card order-summary">
            <div class="card-title">
                <p>Order Summary</p>
            </div>
            <div class="card-content">
                <div class="left">
                    <p>Total amount processed for the items : </p>
                    <p>GST / Tax : </p>
                    <p>Processing Charge : </p>
                    <p>Total Bill : </p>
                    <p id="ordered">Confirm your order by pressing the tick</p>
                </div>
                <div class="right">
                    <p>{{beforetax}}/-</p>
                    <p> 50/-</p>
                    <p> 0 /-</p>
                    <p>{{order}}/-</p>
                    <i class="fas fa-check" (click)="ordered()"></i>
                </div>
            </div>
        </div>
        <button id="backtocart" (click)="movebacktocart()">Move back to Cart</button>
    </div>
</div>