.cart-details{
    width: 100%;
    height: 100%;
}
.cart-details img{
    width: 100%;
    height: 250px;
    border-radius: 10%;
    
}

.cart-details .empty-cart{
    position: absolute;
    top: 25%;
    left: 35%;
}

.cart-details .empty-cart p{
    text-align: center;
    margin-top: 10px;
}

.row{
    margin-top: 10vh;
}

.row .card{
    width: 100%;
    height: 10vh;
    box-shadow: 2px 2px 2px 2px rgb(185, 80, 10);
    margin-top: 25px;
    margin-left: 18%;
    display: flex;
    position: relative;
    font-weight: bold;
}
.card  #price-tag{
    position: absolute;
    top: 25%;
    right: 45%;
    
}

.card button
{
    width: 15%;
    position: absolute;
    top:25%;
    border-radius: 10px;
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
    right: 0;
    
    color: white;
    font-weight: bold;
}

#home-button{
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;    
}

#home-button a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.heading{
    display: flex;
}
.heading p{
   position: absolute;
   top: 15%;
   left: 40%;
   font-weight: bold;
}
/* 
.heading button{
    position: absolute;
    top: 10%;
    right: 10%;   
} */

#order-processing{
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
    width: 15%;
    padding: 0;
    border-radius: 10px;
    height: 45px;
    margin-top: 25px;
    margin-left: 45%;
    color:white;
}
.order-summary{
    width: 50%;
    position: absolute;
    left: 25%;
    top: 25vh;
}
.order-summary .card-title p{
    position: absolute;
    left: 45%;
    font-weight: bold;
}


.order-summary .left{
    margin-top: 50px;
}
.right{
    float: right;
    position: absolute;
    top: 59px;
    right: 0;
}

.middle{
    position: absolute;
    right: 36%;
    top:10%;
    font-weight: bold;
    
}

#backtocart{
   position: absolute;
   left: 45%;
   bottom: 18%;
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
   padding: 10px;
   color: white;
   border-radius: 10px;

}

