<mat-toolbar class="header-container">
    <a routerLink="/home">  <h3><span id="header">Order.</span>Com</h3></a>
    <a routerLink="/cart">Cart</a>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
           
                    <ol class="dropdown-menu">
        <li><a routerLink="/Cust">Users ClickHere</a></li>
        <li><a routerLink="/admin">Admin ClickHere</a></li>
    </ol>
</button>
    </div>
</mat-toolbar>
