<mat-toolbar class="header-container">


    <a routerLink="/home">
        <h3><span id="header">Order.</span>Com</h3>
    </a>
    <!-- 
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
           
                    <ol class="dropdown-menu"> -->
    <div class="header">
    <a routerLink="/customer">Users ClickHere</a>
    <a routerLink="/admin">Admin ClickHere</a>
    <a routerLink="/cart">Cart</a>

    </div>
    <!-- </ol>
</button> -->
    <!-- </div> -->

    
    
        <button class="header-container" type="button"  data-bs-toggle="header"  data-bs-target="#collapseExample" id="dropdownMenuButton" 
        aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="collapse container">
        <ul class="linmk container-right">
            <li><a routerLink="/customer">Users ClickHere</a></li>
            <li><a routerLink="/admin">Admin ClickHere</a></li>
        </ul>
    </div>

</mat-toolbar>