<mat-toolbar class="header-container">

    <a routerLink="/home">
        <h3><span id="header">Order.</span>Com</h3>
    </a>
    
    <div *ngIf="id" class="id">
        <input type="search" class="form-control" placeholder="Type here to search" [(ngModel)]="search">
        <button (click)="searchedproduct()"><i class="fa fa-search"></i></button>&nbsp;
        <div class="image"><img src="../../assets/images/a.png" (click)="Logout()"></div>

    </div>









    <!-- <button class="header-container" type="button"  data-bs-toggle="header"  data-bs-target="#collapseExample" id="dropdownMenuButton" 
        aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="collapse container">
        <ul class="linmk container-right">
            <li><a routerLink="/customer">Users ClickHere</a></li>
            <li><a routerLink="/admin">Admin ClickHere</a></li>
        </ul>
    </div> -->

</mat-toolbar>