<div class="Cart-Container" *ngIf="(show===show)">
    <button id="fruits" (click)=fruits()>Add Fruits</button>
    <button id="vegetables">Add Vegetables</button>
    <button id="groceries">Add Groceries</button>

</div>
<div class="Cart-container" *ngIf="(show===fruits)">
   <form [formGroup]="Fuits" (ngSubmit)="AddFruits()">
       <mat-form-field>
           <input type="text" formControlName="name" placeholder="Enter the name of Fruit" required>
       </mat-form-field>
       <mat-form-field>
        <input type="text" formControlName="name" placeholder="Enter the name of Fruit" required>
    </mat-form-field>
    <mat-form-field>
        <input type="text" formControlName="name" placeholder="Enter the name of Fruit" required>
    </mat-form-field>
    <mat-form-field>
        <input type="text" formControlName="name" placeholder="Enter the name of Fruit" required>
    </mat-form-field>
   </form>
</div>