.Cart-Container{
    color: white;
    position: absolute;
    top: 50px;
    left: 15vw;
}
 #image img{
    position: sticky;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.Cart-Container #button-container{
    margin-top: 10vh;
    margin-left: 15vw;
}
.Cart-Container #button-container button{
    margin-left: 45px;
    margin-top: 40px;
}

.Cart-Container #button-container h1{
    margin-left: 5vw;
    margin-top: 40px;
}
 #fruits{
    background-color: rgb(31, 8, 95);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 7px;
    


}
#edit{
    background-color: rgb(95, 89, 8);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 7px;
   


}
.edit-container button{
    background:rgb(13, 228, 60);
    font-weight: bold;
    
}
.Cart-Container .fruits-container{
    margin-left: 10vw;
   
}

.fruits-container{
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
    box-shadow: 1px 1px 1px 1px darkgreen;
    border-radius: 10px;
    margin-top: 30px;
    width: 50vw;
    
}
/*Form to display in center*/
.fruits-container .form-container{
    display: grid;
    justify-content: center;
}

/*Form input styling*/
.fruits-container .form-container input[type="text"]{
    height: 18px;
    width: 18vw;
}
.fruits-container .form-container input[type="number"]{
    height: 18px;
    width: 18vw;
}
.fruits-container .form-container textarea{
    width: 18vw;
}

/*Radio buttons display*/
.fruits-container .form-container .radio-button {
    display: flex;
}

.fruits-container .form-container button{
    background-color: darkgreen;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
}

.card{
    margin-left: 10vw;
    box-shadow: 2px 2px 2px black;
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
    width: 50vw;
    margin-top: 10px;
}

.card .card-content p{
    font-weight: bold;
    display: inline;
}


.card .card-content #name{
    float: left;
    padding-left: 15px;
}

.card .card-content p button{
    background-color:rgb(13, 228, 60);
    ;
    color: white;
    border: 1px solid white;
    font-size: 1.2em;
    border-radius: 10px; 
    padding: 0 7px 0 7px;
    margin-top: 10px;
    float: right;
    margin: 10px;
    
}
flash-messages #flashMessages .flash-messages{
    width: 100%;
    background-color: lightgreen ;
    color: black;
    font-weight: bold;

}

.container{
    background-image: linear-gradient(rgb(185, 80, 10),rgb(197, 43, 102));
    text-align: center;
    color: white;
    margin-top: 10vh;
    padding: 50px;
    margin-left: 10vw;
}

